* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex:50%;
}

hr {
    border: 1.5px solid gold;
    border-radius: 5px;
}

h5 {
    
    color:rgb(40, 40, 40);
    font-family:'Courier New', Courier, monospace;
    flex:50%;
    font-size:small;
    font: weight 5px;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(78, 81, 84);
    flex:50%;

}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:justify;
    overflow: hidden;
    font-size:medium;
    flex:1%;
    height: 30px;
    width: 30px;
    background-color:aquamarine;
}

#save-post, #cancel-post {
    width: 100px;
}


i {
    color: rgb(0, 0, 0);
}

#add-post {
    float: left;
    margin-bottom:50px;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color:gold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 30px;
    flex-wrap:wrap;
    align-content: space-between;
    border-radius: 5px;
    margin-top: 50px;
}

li {
    align-items: center;
    background-color:whitesmoke;
    padding: 25px;
    border: 2px solid black;
    flex-basis: 300px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

#delID {
    background-color:darksalmon;
    /* position: absolute;
    bottom: 500px; */
    /* display:flex */
}